<%- include('partials/Header.ejs'); -%>

<style>
  body {
    background-color: lightcyan;
  }
</style>

<div>
  <br/>
  <span style="position:absolute; left: 20px;font-size: 20px; color: blueviolet; ">Hello, <%= userName %>!</span>

<h3 style="text-align: center; margin-top: 50px; margin-bottom: 20px;">Detail Post</h3>

<div style="display: flex; justify-content: center; margin-bottom: 50px;">
  <a href="/favorites" class="btn btn-primary" style="font-size: 17px; padding: 5px 15px; margin-right: 10px;">Back</a>
  <a onclick="confirmDelete('<%= blog.id %>')" class="btn btn-danger" style="font-size: 17px; padding: 5px 15px; margin-right: 10px;">Remove 🤍</a>
</div>

<div style="display: flex; justify-content: center;">
  <div class="card" style="width: 50%;">
    <img src="data:image/png;base64, <%= blog.image.toString('base64') %>" class="card-img-top" alt="card-image"
      height="250px"/>
    <div class="card-body">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <h5 class="card-title">
          <%= blog.title %>
        </h5>
        <% if (isFavorited) {%>
          <span>❤️</span>
        <%}%>
      </div>
      
      <p class="card-text">
        <small class="text-muted">Date: <%= new Date(blog.date_and_time).toLocaleString('en-US', { weekday: 'long', year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true })%></small><br />
      </p>

      <div id="blogContent" style="white-space: pre-line;">
        Type: <%= blog.type%>
      </div>

      <div id="blogContent" style="white-space: pre-line;">
        Author: <%= blog.author%>
      </div>

      <div id="blogContent" style="white-space: pre-line;">
        <%= blog.content%>
      </div>

    </div>
  </div>
</div>

</div>

<script>
  function confirmDelete(blogId) {
    if (confirm("Are you sure you want to remove favorite this blog post?")) {
      window.location.href = "/removeFavoriteInFavoritePage/" + blogId;
    }
  }
</script>

